<% content_for :content do %>
<header class="header-homepage header-overlayed">
  <div class="container">
    <div class="row">
      <h1 class="col-md-3 logo-header"><%= image_tag('logo_white.png') %></h1>
      <div class="col-md-3 pull-right">
        <%= render '/shared/membership_links' %>
      </div>
    </div>

    <h2 class="h1 text-center">America’s  hunting directory for every hunt.</h2>
    <%= render 'location_search' %>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <section>
        <%= render 'posts/list_content' %>
        <%= render 'posts/list_link' %>
      </section>
    </div>
    <div class="col-md-2 col-md-offset-1">
      <a href="http://www.basspro.com/" target="_blank">
        <%= image_tag 'ads/bass-pro-shops.png', class: 'img-responsive ad ad-sidebar' %>
      </a>
      <a href="http://yeti.com/" target="_blank">
        <%= image_tag 'ads/yeti.png', class: 'img-responsive ad ad-sidebar' %>
      </a>
    </div>
  </div>
</div>
<% end %>
