<% content_for :content do %>
<p id="notice"><%= notice %></p>
<header>
  <div class="container">
    <h1>AMERICA HUNT</h1>
    <div class="col-md-3">
      <%= render '/shared/membership_links' %>
    </div>
    <h2>America’s  hunting directory for every hunt.</h2>
    <%= form_tag '/locations', method: 'get', class:'location-search location-search-hp' do |f| %>
      <div class="form-group">
        <label for="location">Where would you like to hunt?</label>
        <%= search_field_tag 'query', class: 'form-control' %>
      </div>
      <%= submit_tag 'Go Hunt!' %>
    <% end %>
  </div>
</header>
<% end %>
