<% content_for :content do %>
    <%= render 'shared/flash', flash: flash if flash %>
<header class="header-homepage header-overlayed">
  <%= video_tag @videos.first.video.url, autoplay: true, muted: true, id:'video-background', class:'hidden-xs', data: { playlist: '[' + @videos.map { |video| "\"#{video.video.url}\"" }.join(',') + ']'} if @videos.present?  %>
  <div class="container over-video-content">
    <div class="row">
      <h1 class="col-md-3 logo-header"><%= image_tag('logo_white.png') %></h1>
      <div class="col-md-3 pull-right">
        <%= render '/shared/membership_links' %>
      </div>
    </div>

    <h2 class="h1 text-center">America’s hunting directory for every hunt.</h2>
    <%= render 'location_search' %>
  </div>
</header>
<div class="post-widgets">
  <div class="container">

    <div class="row">
      <div class="col-md-9">
        <%= content_tag_for 'section', @widget_categories, class:'post-widget' do |category| %>
          <h1 class="h2 h2-bold"><%= category.name %></h1>
          <ul class="list-unstyled">
            <%= content_tag_for 'li', category.posts.limit(Post::WIDGET_POST_LIMIT) do |post| %>
                <%= link_to post.title, post_path(post) %>
            <% end %>
          </ul>
          <%= link_to "Read More #{category.name}", blog_category_path(category), class:'small link-underline' %>
        <% end %>
        <% @name_only_categories.each do |category| %>
          <%= link_to category.name, blog_category_path(category), class: 'h2 h2-bold link-underline category-link' %>
        <% end %>
      </div>
      <%= render 'shared/ads_sidebar', count: 2 %>
    </div>
  </div>
</div>

<aside id="join-community">
  <header>
    <h1 class="h1-bold">Join the America Hunt Community</h1>
    <h2>Leave a review. </h2>
  </header>
  <p></p>
  <%= link_to 'Sign Up', new_user_registration_path, class:'btn btn-info btn-lg' %>
</aside>
<% end %>
