<% content_for :content do %>
    <%= render 'shared/flash', flash: flash if flash %>
<header class="header-homepage header-overlayed">
  <%= video_tag @videos.first.video.url, autoplay: true, id:'video-background', data: { playlist: '[' + @videos.map { |video| "\"#{video.video.url}\"" }.join(',') + ']'} if @videos.present?  %>
  <div class="container over-video-content">
    <div class="row">
      <h1 class="col-md-3 logo-header"><%= image_tag('logo_white.png') %></h1>
      <div class="col-md-3 pull-right">
        <%= render '/shared/membership_links' %>
      </div>
    </div>

    <h2 class="h1 text-center">America’s  hunting directory for every hunt.</h2>
    <%= render 'location_search' %>
  </div>
</header>
<div class="post-widgets">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <section id="hunting-news">
          <h1 class="h2 h2-bold">Hunting News</h1>
          <ul class="list-unstyled">
            <% @content_posts.each do |post| %>
                <li><%= link_to "#{post.created_at.strftime('%B%e')}: #{post.title}", post_path(post) %></li>
            <% end %>
          </ul>
          <%= link_to 'Read More Hunting News', posts_path, class:'small link-underline' %>
        </section>
        <section id="hunting-sales" class="panel">
          <div class="panel-heading">
            <h1 class="h2 h2-bold">Hunting Sales</h1>
          </div>
          <div class="panel-body">
            <%= render 'posts/list_link' %>
          </div>
          <div class="panel-footer">
            <%= link_to 'Read More Hunting Sales', sales_path, class:'small link-underline' %>
          </div>
        </section>
      </div>
      <div class="col-md-2 col-md-offset-1">
        <a href="http://www.basspro.com/" target="_blank">
          <%= image_tag 'ads/bass-pro-shops.png', class: 'img-responsive ad ad-sidebar' %>
        </a>
        <a href="http://yeti.com/" target="_blank">
          <%= image_tag 'ads/yeti.png', class: 'img-responsive ad ad-sidebar' %>
        </a>
      </div>
    </div>
  </div>
</div>

<aside id="join-community">
  <header>
    <h1 class="h1-bold">Join the America Hunt Community</h1>
    <h2>Plan a trip. Leave a review. Win awesome stuff.</h2>
  </header>
  <p></p>
  <%= link_to 'Sign Up', new_user_registration_path, class:'btn btn-info btn-lg' %>
</aside>
<% end %>
