<footer class="footer-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul id="footer-nav-tier-1" class="footer-nav list-inline">
          <li><%= link_to 'Contact', new_contact_message_path %></li>
          <li><%= link_to 'Add a Hunting Destination,Guide or Outfitter', new_location_path %></li>
          <li><%= link_to 'Hunters Digest', '/huntersdigest' %></li>
          <li><%= link_to 'State Wildlife Agency News', blog_category_path(BlogCategory.wildlife_category) if BlogCategory.wildlife_category %></li>
          <li><%= link_to 'Field Notes from Game Wardens', blog_category_path(BlogCategory.field_notes_from_game_wardens_category) if BlogCategory.field_notes_from_game_wardens_category %></li>
        </ul>
        <ul id="footer-nav-tier-2" class="footer-nav list-inline">
          <li><%= link_to 'Answers About America Hunt', page_path('faq') %></li>
          <li><%= link_to 'Terms of Service', page_path('terms-of-service') %></li>
          <li><%= link_to 'Privacy Policy', page_path('privacy-policy') %></li>
        </ul>
        <ul id="footer-nav-tier-3" class="footer-nav list-inline">
          <li>5611 Kavanaugh Blvd., Little Rock, Arkansas 72207</li>
          <li>501-891-5002</li>
        </ul>
      </div>
      <div class="col-md-3 col-md-offset-1 text-right">
        <div class="logo-footer pull-right"><%= image_tag('logo_white.png') %></div>
        <ul class="list-inline pull-right">
          <li><a href="https://twitter.com/AmericaHunt2016" target="_blank"><%= image_tag 'twitter_icon_footer.png' %></a></li>
          <li><a href="https://www.facebook.com/America-Hunt-529651273891050/" target="_blank"><%= image_tag 'facebook_icon_footer.png' %></a></li>
          <li><a href="https://www.instagram.com/americahunt2016/" target="_blank"><%= image_tag 'instagram_icon_footer.png' %></a></li>
        </ul>
        <a href="mailto:jessica@americahunt.com">Jessica@AmericaHunt.com</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center"><p>&copy; <%= Time.now.year %> America Hunt</p></div>
    </div>
  </div>
</footer>
