<% if content_for?(:home_header) %>
  <%= content_for(:home_header) %>
<% else %>
  <header class="header-main">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <a class="logo" href="/"><%= image_tag('logo_icon_red_subtitled.png') %></a>
        </div>
        <div class="col-md-8">
          <%= form_tag '#', method: 'get', class: 'location-search location-search-interior' do |f| %>
              <label for="location" class="sr-only">Where would you like to hunt?</label>
              <div class="input-group input-group-xl">
                <div class="input-group-btn">
                  <%= button_tag(type: 'submit', class: 'btn btn-default') do %>
                      <span class="glyphicon glyphicon-search"></span>
                  <% end %>
                </div>
                <%= select_tag 'state_alpha2', options_for_select(Location.states, selected: @state_alpha2), prompt: 'State?', class:'form-control', required: true %>
              </div>
          <% end %>
        </div>
        <div class="col-md-3">
          <%= render '/shared/membership_links' %>
        </div>
      </div>
    </div>
  </header>
<% end %>
<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to_active_class 'About', page_path('about') %></li>
            <li><%= link_to_active_class 'Press & Media', page_path('press-&amp;-media') %></li>
            <li><%= link_to_active_class 'FAQ', page_path('faq') %></li>
            <li><%= link_to_active_class 'Terms of Service', page_path('terms-of-service') %></li>
            <li><%= link_to_active_class 'Privacy Policy', page_path('privacy-policy') %></li>
          </ul>
        </li>
        <li class="active"><a href="/send-us-news">Send Us News <span class="sr-only">(current)</span></a></li>
        <li><%= link_to 'Add a Hunting Destination', new_location_path %></li>
        <li><a href="/browse" class="red">Hunting Directory</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
