<% content_for :pre_main do %>
  <nav class="secondary-nav pages-nav">
    <div class="container">
      <ul class="list-inline">
        <li><%= link_to_active_class 'About', page_path('about') %></li>
        <li><%= link_to_active_class 'Press & Media', page_path('press-&amp;-media') %></li>
        <li><%= link_to_active_class 'FAQ', page_path('faq') %></li>
        <li><%= link_to_active_class 'Terms of Service', page_path('terms-of-service') %></li>
        <li><%= link_to_active_class 'Privacy Policy', page_path('privacy-policy') %></li>
      </ul>
    </div>
  </nav>
<% end %>
<div class="col-md-7">
  <%= content_tag_for :article, @page, itemscope: '', itemtype: 'https://schema.org/WebPage' do %>
      <header class="header-no-hero">
        <h1 class="h1-bold" itemprop="headline"><%= @page %></h1>
      </header>
      <section class="body" itemprop="text">
        <%= @page.body.html_safe %>
      </section>
      <% if @page.display_newsletter_sign_up %>
          <div class="page-newsletter-form">
            <%= render 'shared/newsletter_form' %>
          </div>
      <% end %>
  <% end %>
</div>
<div class="col-md-offset-1 col-md-4">
  <%= image_tag @page.featured_image.url, class: 'img-responsive' if @page.featured_image.present? %>
</div>