<% content_for(:pre_main) do %>
    <nav class="secondary-nav post-nav">
      <div class="container">
        <ul class="list-inline">
          <li><%= link_to_active_class 'News', posts_path %></li>
          <li><%= link_to_active_class 'Sales', sales_path %></li>
        </ul>
      </div>
    </nav>
<% end %>
<div class="col-md-9">
  <header class="header-no-hero">
    <h1 class="h1-bold">Hunting News</h1>
  </header>
  <%= render 'posts/list_content' %>
</div>
<div class="col-md-2 col-md-offset-1">
  <a href="http://www.basspro.com/" target="_blank">
    <%= image_tag 'ads/bass-pro-shops.png', class: 'img-responsive ad ad-sidebar' %>
  </a>
  <a href="http://yeti.com/" target="_blank">
    <%= image_tag 'ads/yeti.png', class: 'img-responsive ad ad-sidebar' %>
  </a>
  <a href="http://www.drakewaterfowl.com/" target="_blank">
    <%= image_tag 'ads/drake.png', class: 'img-responsive ad ad-sidebar' %>
  </a>
</div>