<% content_for(:pre_main) do %>
    <nav class="secondary-nav post-nav">
      <div class="container">
        <ul class="list-inline">
          <li><%= link_to_active_class 'News', posts_path %></li>
        </ul>
      </div>
    </nav>
<% end %>
<div class="col-md-9">
  <header class="header-no-hero">
    <h1 class="h1-bold"><%= @blog_category.try(:name) || 'Hunting News' %></h1>
  </header>
  <%= render 'posts/list_content' %>
  <%= render 'shared/page_controls', collection: @posts, entry_name: 'Stories' %>
</div>
<%= render 'shared/ads_sidebar', count: 3 %>
