<% if @post.featured_image.present? %>
  <% content_for :pre_main do %>
    <header class="header-interior header-post col-md-12 header-overlayed" style="background-image: url(<%= @post.featured_image.url(:hero) %>)">
      <h1 class="text-center"><%= @post %></h1>
    </header>
  <% end %>
<% end %>
<%= content_tag_for :article, @post, itemscope: '',itemtype: 'http://schema.org/BlogPosting' do %>
  <div class="col-md-9">
    <% unless @post.featured_image.present? %>
        <% content_for(:body_classes) do %>
            margin-header
        <% end %>
      <header class="header-no-hero">
        <h1 itemprop="headline"><%= @post %></h1>
      </header>
    <% end %>
    <p class="subtitle" itemprop="alternativeHeadline"><%= @post.subtitle %></p>
    <section class="body" itemprop="articleBody">
      <%= @post.body.html_safe %>
    </section>
  </div>
  <%= render 'shared/ads_sidebar', count: 2 %>
<% end %>