<%= form_for(@location, html: { class: 'form text-book' }) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :website %><br>
    <%= f.url_field :website, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :phone %><br>
    <%= f.phone_field :phone, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.email_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address_1 %><br>
    <%= f.text_field :address_1, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address_2 %><br>
    <%= f.text_field :address_2, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :city %><br>
    <%= f.text_field :city, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :state %><br>
    <%= f.text_field :state, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :zip %><br>
    <%= f.text_field :zip, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label>Is your destination handicap accessible?</label>
    <label class="radio-inline">
      <%= f.radio_button :handicap_status, :handicap_accessible %> Yes
    </label>
    <label class="radio-inline">
      <%= f.radio_button :handicap_status, :handicap_na %> No
    </label>
  </div>
  <div class="form-group">
    <%= f.label :hunting_area_size, 'What’s the size of your hunting area?' %><br>
    <%= f.text_field :hunting_area_size, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :terrain, 'Describe the terrain' %><br>
    <%= f.text_area :terrain, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :species_ids, 'What species are available?' %><br>
    <%= f.select :species_ids, option_groups_from_collection_for_select(@top_level_species,:children, :name, :id, :name), { include_blank: 'No Species' }, class: 'form-control select-multi', multiple: true, data: { enableFiltering: true } %>
  </div>
  <div class="form-group">
    <%= f.label :weapon_type_ids, 'What types of weapons?' %><br>
    <%= f.select :weapon_type_ids, options_from_collection_for_select(@weapon_types, :id, :name), { include_blank: 'No Weapon Types' }, class: 'form-control select-multi', multiple: true %>
  </div>
  <div class="form-group">
    <%= f.label :category_ids, 'What types of hunting? (Check all that apply)' %><br>
    <%= f.select :category_ids, options_from_collection_for_select(@categories, :id, :name), { include_blank: 'No Categories' }, class: 'form-control select-multi', multiple: true %>
  </div>
  <div class="form-group">
    <%= f.label :submitter_notes, 'Any additional information you’d like to add?' %><br>
    <%= f.text_area :submitter_notes, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'Finish', class:'btn btn-info btn-save' %>
  </div>
<% end %>
