<div class="locations">
  <%= div_for(@locations, class:'panel panel-default') do |location| %>
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left"><%= link_to location.name, location_path(location) %></h3>
      <%= link_to location.city_state, locations_path(query: location.city_state), class: 'pull-right city-state-link' %>
    </div>
    <%= link_to location_path(location), class: 'panel-body' do %>
      <%= location.excerpt %>
    <% end %>
  <% end %>
</div>