<div class="col-md-9">
  <div class="locations">
    <%= div_for(@locations, class:'panel panel-default', itemscope:'', itemtype:'http://schema.org/Place' ) do |location| %>
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left location-name h3-bold"><%= link_to location, location_path(location, query: @query), itemprop:'url' %></h3>
        <%= link_to location.city_state, locations_path(query: location.city_state), class: 'pull-right city-state-link' %>
      </div>
      <%= link_to location_path(location, query: @query), class: 'panel-body' do %>
        <%= location.excerpt %>
      <% end %>
    <% end %>
  </div>
</div>