<% content_for :pre_main do %>
  <%= render 'filters' %>
<% end %>
<div class="col-md-9">
  <h1><%= @title %></h1>
  <div class="locations">
    <%= div_for(@locations, class: 'panel panel-default', itemscope: '', itemtype: 'http://schema.org/Place' ) do |location| %>
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left location-name h3-bold"><%= link_to location, location_path(location, query: @query), itemprop: 'url' %></h3>
        <input class="rating" value="<%= location.average_star_rating %>" data-display-only="true" data-size="xxs" data-container-class="rating-info hide-empty-stars pull-right col-md-offset-1" />
        <span class= 'pull-right city-state-link'><%= location.city_state %></span>
      </div>
      <%= link_to location_path(location), class: 'panel-body' do %>
        <%= location.excerpt %>
      <% end %>
    <% end %>
    <%= render 'shared/page_controls', collection: @locations, params: @location_params, entry_name: 'Results' %>
  </div>
</div>
<%= render 'shared/ads_sidebar', count: 3 %>

