<% content_for(:body_classes) do %>
    margin-header
<% end %>
<div class="col-md-9">
  <%= link_to @previous_page, class: 'back-link' do %>
      <span class="glyphicon glyphicon-menu-left"></span>Back to search results
  <% end %>
  <%= content_tag_for :article, @location, itemscope: '', itemtype: 'http://schema.org/Place' do %>
      <header>
        <hgroup>
          <h1 class="location-name h1-bold inline-block" itemprop="name"><%= @location %></h1>
          <input class="rating" value="<%= @location.average_star_rating %>" data-display-only="true" data-size="xs" data-container-class="inline-block rating-info hide-empty-stars" />
          <h2 itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span class="glyphicon glyphicon-map-marker"></span> <span itemprop="addressLocality"><%= @location.city %></span>, <span class="region" itemprop="addressRegion"><%= @location.state %></span></h2>
        </hgroup>

      </header>
      <section class="location-description" itemprop="description">
        <%= @location.description %>
      </section>
      <section class="row">
        <% if @location.lat.present? %>
          <div class="col-md-7">
            <%= map(:center => {
                :latlng => [@location.lat, @location.long],
                :zoom => 15
            },
                    :markers => [
                        {
                            :latlng => [@location.lat, @location.long],
                            :popup => @location.name
                        }
                    ]
                ) %>
          </div>
        <% end %>
        <div class="col-md-5">
          <% if @location.handicap_accessible? %>
            <div class="location-handicap"><small class="text-info"><%= @location.handicap_status.try(:humanize).try(:titleize) %></small></div>
          <% end %>
          <% if @location.pet_no? %>
              <div class="location-pet"><small class="text-danger">Dogs not permitted</small></div>
          <% end %>
          <% if @location.children_not_allowed? %>
              <div class="location-child"><small class="text-danger">Children not permitted</small></div>
          <% end %>
          <%= link_to 'Visit the Website', @location.website, itemprop: 'url', class: 'location-website', target: '_blank' if @location.website.present? %>
          <%= link_to @location.phone, "tel:#{@location.phone}", itemprop: 'telephone', class: 'location-telephone' if @location.phone.present? %>
        </div>
      </section>
      <section>
        <header class="clearfix">
          <h2 class="h1-bold pull-left">Reviews</h2>
          <a href="#new_review" class="pull-right write-a-review">Write a Review</a>
        </header>
        <div id="reviews">
          <%= render @location.reviews.approved.limit(4) %>
          <%= link_to 'More Reviews', location_reviews_path(location_id: @location.id), class: 'text-info link-underline' if @location.reviews.approved.count > 4 %>
        </div>
        <a name="new_review"></a>
        <% if user_signed_in? %>
          <%= render 'reviews/form' %>
        <% else %>
            <h3>Add a Review</h3>
            <p>Please <a data-toggle="modal" data-target="#login-modal" class="text-info" href="#"><%= t('navigation.links.login') %></a> or <%= link_to t('navigation.links.register'), new_user_registration_path, class:'text-info' %> to leave a review.</p>
        <% end %>
      </section>
  <% end %>
</div>
<%= render 'shared/ads_sidebar', count: 3 %>
