<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @location.website %>
</p>

<p>
  <strong>Contact page:</strong>
  <%= @location.contact_page %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @location.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @location.email %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @location.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @location.address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @location.zip %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @location.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @location.long %>
</p>

<p>
  <strong>Opening date:</strong>
  <%= @location.opening_date %>
</p>

<p>
  <strong>Featured:</strong>
  <%= @location.featured %>
</p>

<p>
  <strong>Follow up:</strong>
  <%= @location.follow_up %>
</p>

<p>
  <strong>Description:</strong>
  <%= @location.description %>
</p>

<%= link_to 'Back', locations_path %>
