<%= link_to @previous_page, class: 'back-link' do %>
    <span class="glyphicon glyphicon-menu-left"></span> Back to search results
<% end %>
<%= content_tag_for :article, @location, class:'vcard', itemscope:'',itemtype:'http://schema.org/Place' do %>
    <header>
      <hgroup>
        <h1 class="h2 location-name" itemprop="name"><%= @location.name %></h1>
        <h2 class="h3" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span class="glyphicon glyphicon-map-marker"></span> <span itemprop="addressLocality"><%= @location.city %></span>, <span class="region" itemprop="addressRegion"><%= @location.state %></span></h2>
      </hgroup>
    </header>
    <section class="location-description">
      <%= @location.description %>
    </section>
    <section class="row">
      <div class="col-md-5">
        <div class="location-handicap"><%= @location.handicap_status.try(:humanize).try(:titleize) %></div>
        <%= link_to 'Visit the Website', @location.website, itemprop:'url', class:'location-website' if @location.website.present? %>
        <%= link_to @location.phone, "tel:#{@location.phone}", itemprop:'telephone', class:'location-telephone' if @location.phone.present? %>
      </div>
    </section>
<% end %>
