<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= @page_title or 'America Hunt' %></title>
  <meta name="description" content="<%= @page_description %>" />
  <%= content_for(:metas) %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= @body_classes %>">

<%= render 'shared/flash', flash: flash if flash %>
<% if content_for?(:content) %>
    <%= content_for(:content) %>
<%  else %>
  <header class="header-main">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <a class="logo" href="/"><%= image_tag('logo_icon_red.png') %></a>
        </div>
        <div class="col-md-8">
          <%= form_tag '/locations', method: 'get', class:'location-search location-search-interior' do |f| %>
              <label for="location" class="sr-only">Where would you like to hunt?</label>
              <div class="input-group input-group-xl">
                <div class="input-group-btn">
                  <%= button_tag(type: 'submit', class: 'btn btn-default') do %>
                      <span class="glyphicon glyphicon-search"></span>
                  <% end %>
                </div>
                <%= search_field_tag 'query',@query||'', class: 'form-control' %>
              </div>
          <% end %>
        </div>
        <div class="col-md-3">
          <%= render '/shared/membership_links' %>
        </div>
      </div>
    </div>
  </header>
  <% if content_for?(:pre_main) %>
  <div class="pre-main">
    <%= content_for(:pre_main) %>
  </div>
  <% end %>
  <div class="main">
    <div class="container" %>
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>
<%= render '/shared/footer' %>
</body>
</html>
