<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title or 'America Hunt' %></title>
  <%= content_for(:metas) %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/flash', flash: flash if flash %>
<% if content_for?(:content) %>
    <%= content_for(:content) %>
<%  else %>
  <header>

  </header>
  <%= yield %>
    <% end %>
<%= render '/shared/footer' %>
</body>
</html>
