<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= @page_title or 'America Hunt' %></title>
  <meta name="description" content="<%= @page_description %>" />
  <%= content_for(:metas) %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= @body_classes %> <%= yield :body_classes %>">
<%= image_tag 'ads/cabelas-top.png', class: 'img-responsive header-ad' %>
<% if content_for?(:content) %>
    <%= content_for(:content) %>
<%  else %>
  <header class="header-main">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <a class="logo" href="/"><%= image_tag('logo_icon_red.png') %></a>
        </div>
        <div class="col-md-8">
          <%= form_tag '/locations', method: 'get', class: 'location-search location-search-interior' do |f| %>
              <label for="location" class="sr-only">Where would you like to hunt?</label>
              <div class="input-group input-group-xl">
                <div class="input-group-btn">
                  <%= button_tag(type: 'submit', class: 'btn btn-default') do %>
                      <span class="glyphicon glyphicon-search"></span>
                  <% end %>
                </div>
                <%= search_field_tag 'query',@query||'', class: 'form-control' %>
              </div>
          <% end %>
        </div>
        <div class="col-md-3">
          <%= render '/shared/membership_links' %>
        </div>
      </div>
    </div>
  </header>
  <% if content_for?(:pre_main) %>
  <div class="pre-main">
    <%= content_for(:pre_main) %>
  </div>
  <% end %>
    <%= render 'shared/flash', flash: flash if flash %>
    <main class="main">
    <div class="container" %>
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </main>
<% end %>
<%= render '/shared/footer' %>
<div class="modal fade" tabindex="-1" role="dialog" id="login-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Log In</h4>
      </div>
      <div class="modal-body">
        <%= render 'users/sessions/new', resource: User.new, resource_name: 'user', devise_mapping: Devise.mappings[:user] %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82830765-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
